.card{
  .btn-rounded{
    border-radius: 40px;
  }
  &__footer {
    background-color: transparent !important;
    border-top: 0;
    .btn-fav{
      background-color: #561cb6 !important;
      border-color: #561cb6 !important;
    }
    .btn-outline{
      color: #561cb6 !important;
      border-color: #561cb6 !important;
      &:focus {
        box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25) !important;
      }
      &:hover {
        color: black !important;
        background-color: whitesmoke;
      }
    }
  }
}