$white: #ffff;
$very-light-purple: #f9fafe;
$white-cashmere:#eef1ff;
$cloudy-blue: #b3c3cf;
$twilight-blue: #0b4689;
$marine: #062a53;
$azure: #119cf4;
$pear: #baef69;

.cloudy-blue{
  color: $cloudy-blue;
}

